__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

.env
.venv/
venv/

exploits/
logs/

*.o
*.elf
tests/challenges/ret2win_x64
tests/challenges/ret2libc_x64
tests/challenges/shellcode_x64
tests/challenges/format_read_x64
tests/challenges/format_write_x64

.pytest_cache/
.ruff_cache/
.mypy_cache/

# Ghidra project files
*.gpr
*.rep/

# IDE
.vscode/
.idea/

.gdb_history
